@tailwind base;
@tailwind components;
@tailwind utilities;


.borderkk{
    border: 2px solid white;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:20px;
}













